{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}PROYECTO APUNTES | ACADEMY{% endblock %}

{% block content %}
<br>

<div id="alert" class="row" style="margin-bottom: 0px">
    <div class="col s12">
        <div class="card-panel red lighten-4">
            <span style="color:gray">
               <a href="#"  style="color:gray" onclick="cerrar()"><i class="material-icons right">close</i></a> Aún no has configurado ninguna <b>asignatura o estudio</b>.
            </span>
        </div>
    </div>
</div>
<script>
    function cerrar(){
        document.getElementById("alert").style.display = "none";
    }
</script>
<div class="row">
    <div class="col s12">
        <h1 style="margin-top:10px;margin-bottom:10px;font-size: 23px; text-align: center">{{ user.profile.degree.name }}</h1>
    </div>

    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <p><b>PRIMER CUATRIMESTRE</b></p>
                {% for subject in subjects1 %}
                <a href="{% url 'subject' subject.code %}">
                    <p> {{ subject.code }} -
                    {{ subject.name }} -
                    {{ subject.course }} curso -
                    {{ subject.semester }}º Cuatrimestre
                    </p>
                </a>
                {% endfor %}

                <div class="divider" style="margin-top:10px; margin-bottom:10px"></div>

                <p><b>SEGUNDO CUATRIMESTRE</b></p>
                {% for subject in subjects2 %}
                <a href="{% url 'subject' subject.code %}">
                    <p> {{ subject.code }} -
                    {{ subject.name }} -
                    {{ subject.course }} curso -
                    {{ subject.semester }}º Cuatrimestre
                    </p>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock %}

